/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: whitesmoke;
}
main {
  position: relative;
  height: 100%;
  width: 100%;
}

header {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: #05122e;
  color: white;
  text-align: center;
  padding: 20px 30px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-bottom: inset rgba(235, 233, 233, 0.89) 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 0.7rem;
  background-color: #05122e;
  color: white;
  padding: 5px;
}

/* textos */
h1 {
  color: white;
}

h2 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5;
}

/* Enlaces (si decido añadir más adelante) */
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(109, 239, 243);
  background-color: rgba(245, 245, 245, 0.384);
  border-radius: 5px;
}

/* Menú de navegación */
.dropdown-menu {
  position: absolute;
  top: 20px; /* Alineado con el header */
  left: 20px;
}

.menu-container {
  position: relative;
}

.menu-button {
  background-color: #0b1129;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
}

.menu-button:hover {
  background-color: #01186d;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 5px;
}

.dropdown-list li {
  display: block;
}

.dropdown-list li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
}

.dropdown-list li a:hover {
  background-color: #ddd;
  scale: 1.05;
  border-radius: 5px;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
}

/* Mostrar el menú al hacer hover */
.menu-container:hover .dropdown-list {
  display: block;
}

/* Juegos */
.contenedor {
  width: 80%; /* Ajustar el ancho del contenedor */
  height: 50vh;
  margin: 5vh auto; /* Centrar el contenedor horizontalmente */
  border-radius: 8px;
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3); /* Sombra externa para destacar el contenedor */
}

.texto_descrip {
  margin: 4% auto;
  color: white; /* Buscar el mejor contraste */
  opacity: 0;
  visibility: hidden;
  width: 70vw;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  text-align: center;
  line-height: 1.5;
}

.texto_descrip h1{
  font-size: 2rem;
}

/* Estilos específicos por juego */
#game1 {
  background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2022/12/need-speed-underground-2-2889494.jpg?tf=3840x'); /* Ruta de la imagen */
  overflow: hidden;
}

#game2 {
  background-image: url("../img/zelda.png"); /* Ruta de la imagen */
  overflow: hidden;
}

#game3 {
  background-image: url("../img/hollow_knight.jpg"); /* Ruta de la imagen */
  overflow: hidden;
}

#game4 {
  background-image: url("../img/smashbros.webp"); /* Ruta de la imagen */
  overflow: hidden;
}

#game5 {
  background-image: url("../img/totalbattle.jpg"); /* Ruta de la imagen */
  overflow: hidden;
}

/* Ajustes adicionales en hover juegos */
.contenedor:hover > .texto_descrip {
  transition: all 0.6s ease; /* Transición suave */
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  scale: 1.05;
}

/* Estilos específicos por ANIME */
.capa1 {
  margin-top: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 15px;
  justify-content: space-around;
  align-items: center;
  gap: 5% 0;
}
.capa1 figure {
  position: relative;
  height: 50vh;
  width: 25vw;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.capa1 figure img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
}

.capa1 figure .capa2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
  text-align: center;
}

.capa1 figure:hover > .capa2 {
  opacity: 1;
  visibility: visible;
}
.capa1 figure:hover > .capa2 h1 {
  margin-top: 10px;
}
.capa1 figure:hover > img {
  transform: scale(1.3);
}
.capa1 figure .capa2 h1 {
  font-weight: 600;
  margin-top: 8%;
}
.capa1 figure .capa2 p {
  color: white;
  line-height: 1.5;
  width: 100%;
  max-width: 40vw;
  margin: auto;
}

/* seccion de LIBROS */

/* Slider Container */
.slider-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 70vh;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 500%;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 18%;
  text-align: center;
}

.slide img {
  max-width: auto;
  height: 30vh;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-button-libros {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #05122e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.nav-button-libros:hover {
  background-color: #113a92;
}

.prev-button-libros {
  left: 10px;
}

.next-button-libros {
  right: 10px;
}



/*INDEX */
/* Estilo para la introducción */
.intro {
  color: #333;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.intro h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}


/* Contenedor principal */
.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2vh 1vw 7vh 1vw;
  gap: 5px;
  width: 98%;
  justify-content: center;
}

/* Sección izquierda */
.left-section {
  color: #333;
  width: 20vw;
  padding: 20px;
  width: 15%;
  flex-direction: column;
}

 .left-section img{
  width: 40px;
  height: 40px;
 }

/* Sección derecha */
.right-section {
  color: #333;
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.right-section h2{
  text-align: center;
}


/* Media Queries */

@media (max-width: 600px) {
  .slide img {
    max-width: 80vw;
  }

  .nav-button-libros {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .dropdown-menu {
    position: absolute;
    top: 0;
    left: 0;
  }

  .slide {
    font-size: 0.8rem;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 25%;
    text-align: center;
  }
}
