/* General */
*{
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  color: #333;
}

header{
  background-color: #05122ee8;
  color: white;
  text-align: center;
  padding: 15px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-bottom:inset rgba(235, 233, 233, 0.89) 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

main {
  padding:2%;
  text-align: center;
}

/* textos */
h1{
  text-align: center;
  color: white;
  }
    
h2 {
    color: #333;
    font-size: 1.5em;
  }
  

/* Enlaces (si decido añadir más adelante) */
a {
  color: rgba(0, 0, 255, 0.884);
  text-decoration: none;
}

a:hover {
  color: darkblue;
}

/* Menú de navegación */
.dropdown-menu {
  position: absolute;
  top: 20px; /* Alineado con el header */
  left: 20px;
}

.menu-container {
  position: relative;
}

.menu-button {
  background-color: #0b1129;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
}

.menu-button:hover {
  background-color: #01186d;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5px;
}

.dropdown-list li {
  display: block;
}

.dropdown-list li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
}

.dropdown-list li a:hover {
  background-color: #ddd;
  scale: 1.05;
  border-radius: 5px;
  box-shadow: 1px 3px 2px rgba(0,0, 0, 0.15);
}

/* Mostrar el menú al hacer hover */
.menu-container:hover .dropdown-list {
  display: block;
}


/* Juegos */
.pasatiempo {
  border: 2px solid #ddd;
  margin-bottom: 15px;
  padding: 15px;
  display:block;
  border-radius: 8px;
  
}

/* Estilos específicos por juego */
#game1 {
  background-image:url();
  background-size: contain;
  margin-top: 15px;
}

#pasatiempo2 {
  background-color: #9aecbf98;
 }

 #pasatiempo3 {
  background-color: rgba(39, 112, 117, 0.288);
}

#pasatiempo4 {
  background-color:#94cde6a4;
}

#pasatiempo5 {
  background-color: rgba(230, 168, 159, 0.425);
}

/* Pseudoclases juegos*/
.pasatiempo:hover {
  border: solid rgba(0,0,0,0.2);
  transform: scale(1.03);
  transition: all 0.3s ease;
}

